@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

h1 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
#map {
    width: auto;
    max-width: 600px;
    height: 390px;
    margin: 0 auto; 
}

.escolas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Optional: adjust the height of the container */
}

.logo-escolas {
    margin: 0 10px; /* Optional: adjust the space between the images */
}
